.App {
  text-align: center;
}

* {
  color: white;
  background-color: black;
  font-family: Verdana, sans-serif;
}

svg {
  width: 2.5rem;
}

button {
  background-color: whitesmoke;
  color: black;
}

.home-image {
  height: 30em;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-image {
  height: 25em;
}

.shop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  row-gap: 40px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.product-page-image {
  width: 480px;
  height: 550px;
}

.product-name {
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.product-description {
  margin-top: -10px;
  width: 60%;
}

.add-message {
  font-weight: bold;
  margin-top: 0;
}

.cart-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cart-container {
  display: grid;
  justify-items: center;
  row-gap: 30px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border: solid white 2px;
  border-radius: 10px;
  padding: 5px;
  width: 60%;
}

.cart-image {
  height: 10rem;
}

.cart-message {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}

.cart-total-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.cart-total {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
