.App {
  text-align: center;
}

* {
  color: white;
  background-color: black;
  font-family: Verdana, sans-serif;
}

button {
  background-color: whitesmoke;
  color: black;
}

.home-image {
  width: 30vw;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.innerContainer {
  width: 80%;
}

.product-image {
  height: 25em;
}

.addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.shop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  margin-top: 5%;
  row-gap: 3em;
}

@media (max-width: 600px) {
  .shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shopCard {
    width: 50vw;
  }
}

@media (min-width: 600px) {
  .shopCard {
    width: 30vw;
  }
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.itemTotal {
  padding-top: 10%;
}

.cartItems {
  padding-top: 5%;
}
