.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  color: white;
  background-color: black;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav {
  background-color: lightgray;
  margin-top: 0;
}

.home-image {
  width: 300px;
  height: 350px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-caption {
  width: 1000px;
}

.product-image {
  width: 300px;
  height: 350px;
}

.shop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}

.cart-title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 30px;
}

.cart-item {
  display: flex;
  flex-direction: column;
}
